# npm security best practices
# Prevent supply chain attacks
# Source: https://github.com/lirantal/npm-security-best-practices

# SECURITY: do not run any lifecycle scripts (postinstall) etc
ignore-scripts=true

# SECURITY: block packages newer than 3 days
min-release-age=3