# Backend
backend/.venv/
backend/venv/
.venv/
backend/app/database/.env
backend/__pycache__/
*.pyc
backend/app/external-api-services/decoded-pivot-493200-k7-c60a2b853953.json
backend/app/external-api-services/visiontest1.png
backend/app/external-api-services/visiontest2.png   
backend/app/external-api-services/visiontest3.png

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
.env