# Environment: local, production
ENVIRONMENT=local

# Local Postgres Database (local)
# change the user, password, and db name to your local PostgreSQL database's info
POSTGRES_SERVER=localhost
POSTGRES_PORT= 5432
POSTGRES_DB=db_name
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db_name

# Test Postgres Database (local)
# Create a test database for testing
TEST_DATABASE_URL=postgresql+asyncpg://testuser:testpassword@localhost:5432/test_db_name

# Cloud SQL (production)
# Use the Cloud SQL instance login
INSTANCE_CONNECTION_NAME=
DB_USER=
DB_PASS=
DB_NAME=