# Example ENV File

# Environment: local, production
# Change environment to "local" for local development and "production" for production phase (Cloud SQL)
ENVIRONMENT=local
DEBUG=False

# Local Postgres Database (local)
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dbnamehere
POSTGRES_USER=postgresuserhere
POSTGRES_PASSWORD=dbpasswordhere

# Cloud SQL (production)
# Use the Cloud SQL instance login
INSTANCE_CONNECTION_NAME=
DB_USER=
DB_PASS=
DB_NAME=