# Environment: local, production
ENVIRONMENT=local

# Local Postgres Database (local)
# change the user, password, and db name to your local PostgreSQL database's info
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db_name

# Cloud SQL (production)
# Use the Cloud SQL instance login
INSTANCE_CONNECTION_NAME=
DB_USER=
DB_PASS=
DB_NAME=