fastapi[standard]==0.135.3
coverage==7.13.5
httpx==0.28.1
pytest==9.0.3
pytest-cov==7.1.0
ruff==0.15.10
sqlalchemy==2.0.49
cloud-sql-python-connector[asyncpg]
asyncpg==0.31.0
alembic==1.18.4
pydantic-settings==2.14.0