fastapi[standard]==0.135.3
coverage==7.13.5
httpx==0.28.1
asgi-lifespan==2.1.0
pytest==9.0.3
pytest-cov==7.1.0
ruff==0.15.10
sqlalchemy[asyncio]>=2.0.30
asyncpg
cloud-sql-python-connector[asyncpg]
pydantic-settings==2.13.1
bcrypt